<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHEEG3OK84h6Cl0IFZUiz9iPF_4nvQ3E8</string>
	<key>GCM_SENDER_ID</key>
	<string>128957509033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ue.timetolose</string>
	<key>PROJECT_ID</key>
	<string>timetolose</string>
	<key>STORAGE_BUCKET</key>
	<string>timetolose.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:128957509033:ios:558d737b0f52a51c8128b8</string>
</dict>
</plist>
